{% extends "control/base.html" %}
{% block title %}Criar nova senha{% endblock title %}
{% block content %}
<h2>Criar nova senha</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        <div class="text-danger">{{ form.new_password1.errors }}</div>
    </div>

    <div>
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <div class="text-danger">{{ form.new_password2.errors }}</div>
    </div>

    <button type="submit">Alterar senha</button>
</form>