{% extends "control/base.html" %}
{% load static %}
{% block title %}Clientes{% endblock title %}

{% block content %}
{% if clientes %}
<div style="max-width: 75%;">
    <h1 style="color: #2563EB; font-weight: 700; font-family: Inter;">Clientes</h1>
    <p style="background-color: #2563EB; color: white; border-radius: 5px; padding: 5px; margin: 15px; font-family: Inter; font-weight: 600;">Nome ------------------------------------- CPF</p>
    {% for cliente in clientes %}
    <a href={% url 'editar_cliente' cliente.id %}><p style="background-color: lightgray; border-radius: 5px; padding: 5px; font-family: Inter; font-weight: 500; margin: 15px;">{{ cliente.nome }} | {{ cliente.cpf }} <a href={% url 'excluir_cliente' id_cliente=cliente.id %}>X</a></p></a>
    {% endfor %}
    <a href={% url 'cadastrar_cliente' %}><button type="submit" style=" font-family: Inter; min-width: 50%; min-height: 50px; padding: 5px; margin-left: 25%; font-weight: 700; background-color: #2563EB; border: none; border-radius: 15px; color: white; font-size: 24px;">Adicionar</button></a>
</div>
    {% else %}
<div style="display: flex; min-height: 100vh; align-items: center; justify-content: center;">
    Nenhuma notícia cadastrada.
    <div>
        <a href={% url 'cadastrar_cliente' %}><button type="submit" style="font-family: Inter; min-width: 75%; min-height: 50px; padding: 5px; margin-left: 25%; font-weight: 700; background-color: #2563EB; border: none; border-radius: 15px; color: white; font-size: 24px;">Adicionar</button></a>
    </div>
</div>
{% endif %}
{% endblock content %}