{% extends "control/base.html" %}
{% load static crispy_forms_filters %}
{% block title %}Editar Cliente{% endblock title %}

{% block content %}
<h1 style="color: #2563EB; font-weight: 700; font-family: Inter; padding: 5px;">{{ nome.cliente }}</h1>
<form style="margin-left: 10px;" method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" style="min-width: 25%; min-height: 50px; background-color: #2563EB; font-weight: 700; font-family: Inter; border-radius: 15px; color: white; border: none; font-size: 24px">Salvar</button>
</form>
{% endblock content %}