{% extends "dashboard/base_dashboard.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block sidebar %}
<div class="pt-3">
    <div class="row g-0" style="min-height: calc(100vh - 200px);">
        <div class="col-12 col-lg-2 mt-4 mt-lg-0 ">
            <div style="min-height: 60px;">
                <h1 class="ps-4" style="font-family: Inter; font-weight: 700; color: #2563EB; margin: 0px; padding: 0px;">Dashboard</h1>
            </div>
            <div class="bg-white shadow" style="height: 100%; border-top-right-radius: 15px; border-bottom-right-radius: 15px;">
                <ul class="nav flex-column p-3">
                    <li class="nav-item">
                        <a href="{% url 'dashboard:index' %}" class="d-block mb-2 text-decoration-none ms-3" style="color: black; font-weight: 700; font-family: Inter; font-size: 22px;">
                            <i class="bi bi-grid-1x2-fill me-3"></i>Visão Geral
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard:vendas' %}" class="d-block mb-2 text-decoration-none ms-3" style="color: black; font-weight: 700; font-family: Inter; font-size: 22px;">
                            <i class="bi bi-cart2 me-3"></i>Vendas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard:produtos' %}" class="d-block mb-2 text-decoration-none ms-3" style="color: black; font-weight: 700; font-family: Inter; font-size: 22px;">
                            <i class="fa-solid fa-cube me-3"></i>Produtos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard:clientes' %}" class="d-block mb-2 text-decoration-none ms-3" style="color: black; font-weight: 700; font-family: Inter; font-size: 22px;">
                            <i class="fa-solid fa-user me-3"></i>Clientes
                        </a>
                    </li>
                </ul>
            </div>
        </div>
{% endblock sidebar %}
{% block content %}
<div class="col-12 col-lg-10 px-4">
            <div style="min-height: 60px;"></div>
            <div style="background: #f0f6ff; border-radius: 20px; width: 100%; max-width: 1350px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); overflow: hidden; font-family: Inter; margin: auto;">
        
                <!-- Header do Card -->
                <div class="d-flex align-items-center" style="background: #2563EB; padding: 25px 30px; border-bottom: 1px solid #f0f0f0; justify-content: space-between;">
                    <h2 style="color: white; font-size: 30px; font-weight: 700; margin: 0;">Visão Geral</h2>
                    <form id="filtros-form" method="get">
                        <div class="d-flex align-items-center" style="gap: 20px;">
                            <div style="position: relative; min-width: 150px;">
                                <label style="position: absolute; top: -18px; left: 6px; padding: 0 6px; font-size: 14px; font-weight: 600; color: white; font-family: Inter;">Ano</label>
                                <select name="ano" class="form-select rounded-5" onchange="this.form.submit()" form="filtros-form" style="background-color: white; outline: 2px solid #2563EB; outline-offset: -2px;">
                                    <option value="">Todos</option>
                                        {% for a in anos %}
                                            <option value="{{ a }}" {% if ano_selecionado == a|stringformat:'s' %}selected{% endif %}>
                                                {{ a }}
                                            </option>
                                        {% endfor %}
                                </select>
                            </div>
                            <div style="position: relative; min-width: 150px;">
                                <label style="position: absolute; top: -18px; left: 6px; padding: 0 6px; font-size: 14px; font-weight: 600; color: white; font-family: Inter;">Mês</label>
                                <select name="mes" class="form-select rounded-5" onchange="this.form.submit()" form="filtros-form" style="background-color: white; outline: 2px solid #2563EB; outline-offset: -2px;">
                                    <option value="">Todos</option>
                                        {% for numero, nome in meses %}
                                            <option value="{{ numero  }}" {% if mes_selecionado == numero %}selected{% endif %}>
                                                {{ nome }}
                                            </option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="p-4">
                    <div class="row g-3">

                        <!-- Faturamento -->
                        <div class="col-12 col-md-4">
                            <div class="bg-white shadow-sm d-flex align-items-center p-3"
                                style="border-radius: 12px; font-family: Inter;">
                                <div class="me-3 p-3 d-flex align-items-center justify-content-center"style="width: 80px; height: 80px; background-color: #DBEAFE;border-radius: 12px;">
                                    <i class="fa-solid fa-dollar-sign" style="font-size: 40px; color: #2563EB;"></i>
                                </div>

                                <div>
                                    <span style="font-size: 16px; font-weight: 600;">
                                        Faturamento
                                    </span>
                                    <h2 style="font-weight: 700; margin: 0;">{{faturamento}}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Produtos -->
                        <div class="col-12 col-md-4">
                            <div class="bg-white shadow-sm d-flex align-items-center p-3"
                                style="border-radius: 12px; font-family: Inter;">
                                <div class="me-3 p-3"
                                    style="width: 80px; height: 80px; background-color: #DBEAFE; border-radius: 12px; display:flex; justify-content:center; align-items:center;">
                                    <i class="fa-solid fa-cube" 
                                    style="font-size: 40px; color: #2563EB;"></i>
                                </div>

                                <div>
                                    <span style="font-size: 16px; font-weight: 600;">
                                        Produtos Cadastrados
                                    </span>
                                    <h2 style="font-weight: 700; margin: 0;">{{ produtos }}</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Clientes -->
                        <div class="col-12 col-md-4">
                            <div class="bg-white shadow-sm d-flex align-items-center p-3"
                                style="border-radius: 12px; font-family: Inter;">
                                <div class="me-3 p-3" 
                                    style="width: 80px; height: 80px; background-color: #DBEAFE; border-radius: 12px; display:flex; justify-content:center; align-items:center;">
                                    <i class="fa-solid fa-user" 
                                    style="font-size: 40px; color: #2563EB;"></i>
                                </div>

                                <div>
                                    <span style="font-size: 16px; font-weight: 600;">
                                        Clientes Cadastrados
                                    </span>
                                    <h2 style="font-weight: 700; margin: 0;">{{ clientes }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 g-3">

                    <div class="col-12 col-lg-6">
                        <div class="bg-white shadow-sm" style="height: 450px; border-radius: 12px;">
                            <div class="d-flex align-items-center" style="background: white; padding: 5px 10px; border-bottom: 1px solid #f0f0f0; justify-content: space-between; border-top-left-radius: 12px; border-top-right-radius: 12px;">
                                <h2 style="color: white; font-size: 14px; font-weight: 700; margin: 0; color: black;">Faturamento</h2>
                            </div>
                            <div style="padding: 15px; height: 400px;">
                                <canvas id="graficoFaturamento" class="mt-4"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="bg-white shadow-sm" style="height: 450px; border-radius: 12px; font-family: Inter;">
                            <div class="d-flex align-items-center" style="background: white; padding: 5px 10px; border-bottom: 1px solid #f0f0f0; justify-content: space-between; border-top-left-radius: 12px; border-top-right-radius: 12px;">
                                <h2 style="color: white; font-size: 14px; font-weight: 700; margin: 0; color: black;">Quantidade de Vendas: {{ total_vendas }}</h2>
                            </div>
                            <div style="padding: 15px; height: 400px;">
                                <canvas id="vendasChart"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
                
            </div>
            
        </div>
        </div>

{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

    const vendasPorSemana = {{ vendas_json|safe }};
    const labels = {{ labels_json|safe }};

    const canvas = document.getElementById('vendasChart');

    if (!canvas) {
        console.error("Canvas vendasChart não encontrado");
        return;
    }

    new Chart(canvas, {
        type: 'bar',
        data: {
        labels: labels,
        datasets: [{
            label: 'Vendas concluídas',
            data: vendasPorSemana,
            backgroundColor: '#3b82f6',
            minBarLength: 6,
            borderRadius: 6,
        }]
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: { display: false }
        },
        scales: {
            y: {
            beginAtZero: true,
            }
        }
        }
    });

    });
</script>

<script>
const labelsFaturamento = JSON.parse('{{ labels_faturamento_json|escapejs }}');
const dadosFaturamento = JSON.parse('{{ faturamento_json|escapejs }}');

new Chart(document.getElementById('graficoFaturamento'), {
    type: 'line',
    data: {
        labels: labelsFaturamento,
        datasets: [{
            label: 'Faturamento Mensal (R$)',
            data: dadosFaturamento,
            borderWidth: 3,
            tension: 0.4,
            fill: false
        }]
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock scripts %}