{% extends "dashboard/base_dashboard.html" %}
{% load static %}
{% block title %}Dashboard (Produtos){% endblock title %}
{% block content %}
<div class="col-12 col-lg-10 px-4 mx-auto px-3 px-lg-4 pt-2">
    <div style="min-height: 60px;"></div>
    <div style="background: #f0f6ff; border-radius: 20px; width: 100%; max-width: 1350px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); overflow: hidden; font-family: Inter; margin: auto;">
        
        <!-- Header do Card -->
        <div class="d-flex align-items-center" style="background: #2563EB; padding: 25px 30px; border-bottom: 1px solid #f0f0f0; justify-content: space-between;">
            <h2 style="color: white; font-size: 30px; font-weight: 700; margin: 0;">Produtos</h2>
        </div>
        <div class="p-4">
            <div class="row g-3">

                <!-- Faturamento -->
                <div class="col-12 col-md-4">
                    <div class="bg-white shadow-sm d-flex align-items-center p-3 h-100"
                        style="border-radius: 12px; font-family: Inter;">
                        <div class="me-3 p-3"
                            style="width: 80px; height: 80px; background-color: #DBEAFE; border-radius: 12px; display:flex; justify-content:center; align-items:center;">
                            <i class="fa-solid fa-cube" 
                            style="font-size: 40px; color: #2563EB;"></i>
                        </div>

                        <div>
                            <span style="font-size: 16px; font-weight: 600;">
                                Produtos cadastrados
                            </span>
                            <h2 style="font-weight: 700; margin: 0;">{{ total_produtos }}</h2>
                        </div>
                    </div>
                </div>
                <!-- Produtos -->
                <div class="col-12 col-md-4">
                    <div class="bg-white shadow-sm d-flex align-items-center p-3 h-100"
                        style="border-radius: 12px; font-family: Inter;">
                        <div class="me-3 p-3"
                            style="width: 80px; height: 80px; background-color: #DBEAFE; border-radius: 12px; display:flex; justify-content:center; align-items:center;">
                            <i class="bi bi-x-circle-fill"
                            style="font-size: 40px; color: #2563EB;"></i>
                        </div>

                        <div>
                            <span style="font-size: 16px; font-weight: 600;">
                                Produtos sem estoque
                            </span>
                            <h2 style="font-weight: 700; margin: 0;">{{ produtos_sem_estoque }}</h2>
                        </div>
                    </div>
                </div>
                <!-- Clientes -->
                <div class="col-12 col-md-4">
                    <div class="bg-white shadow-sm d-flex align-items-center p-3 h-100"
                        style="border-radius: 12px; font-family: Inter;">
                        <div class="me-3 p-3" 
                            style="width: 80px; height: 80px; background-color: #DBEAFE; border-radius: 12px; display:flex; justify-content:center; align-items:center;">
                            <i class="fa-solid fa-circle-exclamation"
                            style="font-size: 40px; color: #2563EB;"></i>
                        </div>

                        <div>
                            <span style="font-size: 16px; font-weight: 600;">
                                Produtos Sem Pedido (%)
                            </span>
                            <h2 style="font-weight: 700; margin: 0;">{{ percentual_sem_pedido }}%</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 g-3">
            <div class="col-12 col-lg-6">
                <div class="bg-white shadow-sm" style="height: 450px; border-radius: 12px;">
                    <div class="d-flex align-items-center" style="background: white; padding: 5px 10px; border-bottom: 1px solid #f0f0f0; justify-content: space-between; border-top-left-radius: 12px; border-top-right-radius: 12px;">
                        <h2 style="color: white; font-size: 14px; font-weight: 700; margin: 0; color: black;">Faturamento por produto:</h2>
                    </div>
                    <div style="padding: 15px; height: 450px;">
                        <canvas id="produtosFaturamentoChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="bg-white shadow-sm" style="height: 450px; border-radius: 12px; font-family: Inter;">
                    <div class="d-flex align-items-center" style="background: white; padding: 5px 10px; border-bottom: 1px solid #f0f0f0; justify-content: space-between; border-top-left-radius: 12px; border-top-right-radius: 12px;">
                        <h2 style="color: white; font-size: 14px; font-weight: 700; margin: 0; color: black;">Produtos mais vendidos:</h2>
                    </div>
                    <div style="padding: 15px; height: 450px;">
                        <canvas class="" id="produtosMaisVendidosChart"></canvas>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {

    let labels = {{ labels_produtos_json|safe }};
    const dados = {{ dados_produtos_json|safe }};

    // QUEBRA O TEXTO EM 2 LINHAS
    labels = labels.map(label => {
        if (label.length > 18) {
            const palavras = label.split(' ');
            const meio = Math.ceil(palavras.length / 2);
            return [
                palavras.slice(0, meio).join(' '),
                palavras.slice(meio).join(' ')
            ];
        }
        return label;
    });

    new Chart(document.getElementById('produtosMaisVendidosChart'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Quantidade vendida',
                data: dados,
                backgroundColor: '#3b82f6',
                borderRadius: 6,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    ticks: {
                        font: {
                            size: 11
                        }
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });
});

document.addEventListener("DOMContentLoaded", function () {

    let labels = {{ labels_produtos_faturamento_json|safe }};
    const dados = {{ dados_produtos_faturamento_json|safe }};

    // QUEBRA O TEXTO EM 2 LINHAS
    labels = labels.map(label => {
        if (label.length > 18) {
            const palavras = label.split(' ');
            const meio = Math.ceil(palavras.length / 2);
            return [
                palavras.slice(0, meio).join(' '),
                palavras.slice(meio).join(' ')
            ];
        }
        return label;
    });

    new Chart(document.getElementById('produtosFaturamentoChart'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Faturamento (R$)',
                data: dados,
                backgroundColor: '#22c55e',
                borderRadius: 6,
            }]
        },
        options: {
            indexAxis: 'y', // 🔥 HORIZONTAL
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: { display: false },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return 'R$ ' + context.raw.toLocaleString('pt-BR', {
                                minimumFractionDigits: 2
                            });
                        }
                    }
                }
            },
            scales: {
                x: {
                    beginAtZero: true,
                    ticks: {
                        callback: function(value) {
                            return 'R$ ' + value.toLocaleString('pt-BR');
                        }
                    }
                }
            }
        }
    });

});
</script>
{% endblock scripts %}