h1{
    color: #2563EB;
    font-weight: 700;
    font-family: 'Inter';
    padding: 5px;
}
form{
    margin-left: 10px;
}
button{
    min-width: 25%;
    min-height: 50px; 
    background-color: #2563EB; 
    font-weight: 700; 
    font-family: Inter; 
    border-radius: 15px; 
    color: white; 
    border: none; 
    font-size: 24px
}
