/* Estilo padrão para os botões do menu */
.menu-button {
    /* Garante que o texto dentro seja branco para o hover */
    color: white !important; 
    transition: background-color 0.2s ease; /* Transição suave para o efeito */
}

/* Estilo aplicado quando o mouse está sobre o botão (HOVER) */
.menu-button:hover {
    background-color: #3f7cffff !important; /* Cor mais clara para simular o efeito selecionado */
    /* Você pode querer mudar a cor do texto no hover também, se necessário: */
    /* color: #FFFFFF !important; */
}

/* 1. WebKit (Chrome, Safari, Edge, Opera) - Define a largura e estiliza */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* ESSENCIAL: Define a largura da barra */
}

/* 2. Estiliza o "trilho" (Background) */
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #2563EB; /* A cor do seu Offcanvas */
    border-radius: 10px;
}

/* 3. Estiliza o "polegar" (Thumb - a parte que rola) */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffffff;
    border-radius: 10px;
}
        
/* 4. Estilo Firefox */
.custom-scrollbar {
    scrollbar-width: thin; /* 'auto' ou 'thin' */
    scrollbar-color: #ffffffff #2563EB; /* [cor do polegar] [cor do trilho] */
}
html, body {
    height: 100%; /* faz o body ocupar toda a altura da tela */
    margin: 0;    /* remove margens padrões do body */
}

body {
    display: flex;
    flex-direction: column; /* organiza header, content e footer em coluna */
}

main {
    flex: 1; /* faz o conteúdo principal crescer e empurrar o footer para baixo */
}
main, .sidebar-wrapper {
    padding-top: 80px; /* mesma altura do header */
}