{% extends "dashboard/base_dashboard.html" %}
{% load static %}
{% block title %}Depósitos{% endblock title %}
{% block content %}
<div class="pt-3">
    <div class="row g-0" style="min-height: calc(100vh - 200px);">
        {% if depositos.paginator.count > 0 %}
        <div class="col-12 col-lg-10 px-4">
            <div class="d-flex align-items-center">
                <a href={% url 'index' %}><i class="fa-solid fa-chevron-left fs-4" style="color: black; margin-top: auto; margin-bottom: auto; margin-right: 6px;"></i></a>
                <h1 style="font-family: Inter; font-weight: 700; color: #2563EB; margin: 0px; padding: 0px;">Depósitos</h1>
            </div>
            <form id="filtros-form" method="GET">
                <input type="hidden" name="search" value="{{ search|default:'' }}">
            </form>
            <div class="d-flex justify-content-between align-items-center">
                <form method="GET" class="flex-grow-1">
                    <input name="search" value="{{ search|default:'' }}" class="form-control rounded-5 border-2" style="border-color: #2563EB; max-width: 400px" type="search" placeholder="Pesquisar" aria-label="Search" />
                </form>
                
                <form method="POST" action="{% url 'estoque:excluir_deposito' %}">
                    {% csrf_token %}
                    <div style="display: flex; justify-content: flex-end;">
                        <button class="p-0" style="min-width: 35px; max-width: 35px; min-height: 35px; max-height: 35px; background-color: #2563EB; border: none; border-radius: 8px; align-items: center; text-align: center;">
                            <i class="fa-solid fa-trash fs-5" style="color: white;"></i>
                        </button>
                    </div>
            </div>
                <div class="pt-2 overflow-auto"  style="">
                    <table class="" style="width: 100%; border-collapse: separate; border-spacing: 0 8px; font-family: Inter, sans-serif; font-size: 16px;">
                        <thead>
                            <tr>
                            <th style="background-color: #2563EB; border-top-left-radius: 10px; border-bottom-left-radius: 10px; width: 35px;"></th>
                            <th class="py-2 ps-1" style="background-color: #2563EB; color: white; text-align: left; width: 300px;">Descrição</th>
                            <th class="py-2 ps-3" style="background-color: #2563EB; color: white; text-align: left; width: 320px;"></th>
                            <th class="py-2" style="background-color: #2563EB; color: white; text-align: left; width: 150px;"></th>
                            <th class="py-2" style="background-color: #2563EB; color: white; text-align: left; width: 350px;"></th>
                            <th style="background-color: #2563EB; border-top-right-radius: 10px; border-bottom-right-radius: 10px; width: 10px;"></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for deposito in depositos %}
                            <tr style="background-color: #EEEEEE;">
                            <td class="ps-2" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; text-align: center;">
                                <input type="checkbox" name="ids_selecionados" value="{{ deposito.id }}" style="height: 100%; vertical-align: middle; transform: scale(1.4);">
                            </td>

                            <td class="py-2 ps-1 fw-medium">{{ deposito.descricao }}</td>
                            <td class="py-2 ps-3 fw-medium"></td>
                            <td class="py-2 fw-medium"></td>
                            <td class="py-2 fw-medium"></td>
                            
                                <td style="border-top-right-radius: 10px; border-bottom-right-radius: 10px; text-align: center; white-space: nowrap;">
                                    <!-- Botão Editar -->
                                    <a href="{% url 'estoque:adicionar_deposito' %}"
                                        style="
                                            display: inline-flex;
                                            align-items: center;
                                            justify-content: center;
                                            width: 35px;
                                            height: 35px;
                                            background-color: #ffc107;
                                            border-radius: 8px;
                                            margin-right: 6px;
                                            text-decoration: none;
                                            vertical-align: middle;
                                        ">
                                        <i class="fa-solid fa-pen" style="color: white;"></i>
                                    </a>

                                    <!-- Botão Excluir -->
                                    <a href="{% url 'estoque:excluir_deposito' %}"
                                        style="
                                            display: inline-flex;
                                            align-items: center;
                                            justify-content: center;
                                            width: 35px;
                                            height: 35px;
                                            background-color: red;
                                            border-radius: 8px;
                                            text-decoration: none;
                                            vertical-align: middle;
                                        ">
                                        <i class="fa-solid fa-trash" style="color: white;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </form>
            {% if depositos.paginator.num_pages > 1 %}
            <nav aria-label="paginator navigation">
                <ul class="pagination justify-content-end">
                    <li class="page-item" {{  depositos.has_previous|yesno:',disabled,disabled'  }}>
                        <a class="page-link" href="{% if depositos.has_previous %}{% querystring p=depositos.previous_page_number %}{% endif %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in depositos.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link {% if depositos.number == page %}active{% endif %}" href="{% querystring p=page %}">{{page}}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item" {{  depositos.has_next|yesno:',disabled,disabled'  }}>
                        <a class="page-link" href="{% if depositos.has_next %}{% querystring p=depositos.next_page_number %}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
        {% else %}
        <div class="col-12 col-lg-10 px-4">
            <div class="d-flex align-items-center">
                <a href={% url 'index' %}><i class="fa-solid fa-chevron-left fs-4" style="color: black; margin-top: auto; margin-bottom: auto; margin-right: 6px;"></i></a>
                <h1 style="font-family: Inter; font-weight: 700; color: #2563EB; margin: 0px; padding: 0px;">Depósitos</h1>
            </div>
            <form id="filtros-form" method="GET">
                <input type="hidden" name="search" value="{{ search|default:'' }}">
            </form>
            <div class="d-flex justify-content-between align-items-center">
                <form method="GET" class="flex-grow-1">
                    <input name="search" value="{{ search|default:'' }}" class="form-control rounded-5 border-2" style="border-color: #2563EB; max-width: 400px" type="search" placeholder="Pesquisar" aria-label="Search" />
                </form>
            </div>
            <div style="display: flex; height: 100%; align-items: center; justify-content: center; font-family: Inter; font-weight: 700;">
                Nenhum depósito cadastrado.
            </div>
        </div>   
        {% endif %}
        <div class="col-12 col-lg-2 mt-4 mt-lg-0 ">
            <a href={% url 'estoque:adicionar_deposito' %} class="d-block w-100"><button class="fs-4 w-100" style="min-height: 60px; font-family: Inter; color: white; font-weight: 700; border-top-left-radius: 15px; border-bottom-left-radius: 15px; background-color: #2563EB; border: none; ">+ Adicionar Depósito</button></a>
            <div class="bg-white shadow" style="height: 100%; margin-top: 20px; border-top-left-radius: 15px; border-bottom-left-radius: 15px;"><p>teste</p></div>
        </div>    

    </div>
</div>

{% endblock content %}
